%li{:class => "#{red_green_yellow_grey_tag(collection)} round-corners"}
  %span.content
    = link_to "#{collection.id}", collection
    -# link_to "$#{collection.amount_owed}", collection
    - unless collection.paid?
      = "<strong>#{number_to_currency collection.amount_owed, :unit => "$"}</strong>".html_safe
    - else
      = "<s>#{number_to_currency collection.amount_owed, :unit => "$"}</s>".html_safe
    = "  --  "
    = collection.paid? ? "Pagada  --" : ""
    = collection.being_processed? ? "En Proceso  --" : ""
    = "Actulizada hace: #{time_ago_in_words(collection_last_updated(collection))}"
    - #method below doesn't work from debtor's path
    %br
    = link_to "<i class='icon-eye-open'></i> Ver".html_safe, collection
    = " | "
    = link_to "<i class='icon-edit'></i> Editar".html_safe, edit_collection_path(collection), method: :get  
    - if current_user.admin? or current_user.supervisor?
      = " | "
      = link_to "<i class='icon-trash'></i> Borrar".html_safe, collection, method: :delete, data: {confirm: "Confirme Borrar Factura: ¿Seguro?"}
      = " | "  
    - if collection.logs.any?
      -# #######################################################++++++++++++++++++++++++++++++++++++++++++++++++
      -# link_to "<i class='icon-book'><Bitácora".html_safe, collection_log_path(collection, collection.logs), method: :get
      = link_to "<i class='icon-book'></i> Bitácora".html_safe, collection_logs_path(collection), method: :get
      - content_for :logs_sidebar do
        %ol.accordion#accordion-log
          = render collection.logs
    /
    = link_to "<i class='icon-file'></i> Bitácora Nueva".html_safe, new_collection_log_path(collection), method: :get 
