%li{:class => "#{red_green_yellow_grey_tag(collection)}"}
  %span.content
    = link_to "#{collection.id}", collection
    = collection.amount_owed
    = "  --  "
    = collection.paid? ? "Pagada  --" : ""
    = collection.being_processed? ? "En Proceso  --" : ""
    = "Actulizada hace: #{time_ago_in_words(collection.updated_at)}"
    - #method below doesn't work from debtor's path
    %br
    = link_to "<i class='icon-edit'></i> Editar".html_safe, edit_collection_path(collection), method: :get  
    - if current_user.admin? or current_user.supervisor?
      = " | "
      = link_to "<i class='icon-trash'></i> Borrar".html_safe, collection, method: :delete, data: {confirm: "Confirme Borrar Factura: ¿Seguro?"}
      = " | "  
    - if collection.logs.any?
      = link_to "<i class='icon-book'></i> Bitácora".html_safe, collection_log_path(collection, collection.logs), method: :get
      %ol.hide
        = render collection.logs
    - else 
      = link_to "<i class='icon-file'></i> Bitácora Nueva".html_safe, new_collection_log_path(collection), method: :get 
