-#coding: utf-8
- provide(:title, "Facturas")
%h1 Facturas:
.row
  %aside.span6
    %section
      %h1
        -if @debtor
          = @debtor.name
          ="   |  Persona Contacto: "
          = @debtor.contact_person
          -if @debtor and @debtor.collections.any?
            %p
              %h3
                = "Facturas de #{@debtor.name}:"
              %ol.microposts
                - @debtor.collections.each do |individual_collection|
                  = render partial: 'collection', :locals => { :collection => individual_collection }
          /end
        -else 
          %h3
            Tiene que selecionar un deudor primero para ver sus facturas.  
        /end  
  %aside.span4
    %section
      - if @debtor and @debtor.collections.any?
        = yield :logs_sidebar  
.row
  %aside.span6
    %section
      %h3
        Archivos de todas las facturas:
      %a{:href => "#{url_for collections_path(format: 'xls')}", :class => "btn btn-large btn-info"}
        Bajar datos en Excel
      %a{:href => "#{url_for collections_path(format: 'csv')}", :class => "btn btn-large btn-info"}
        Bajar datas en CSV