-#coding: utf-8
- provide(:title, "Facturas")
%h1 Facturas:
.row
  %aside.span6
    %section
      %h1
        -if @debtor
          = @debtor.name
          ="   |  Persona Contacto: "
          = @debtor.contact_person
          -if @debtor and @debtor.collections.any?
            %p
              %h3
                = "Facturas de #{@debtor.name}:"
              %ol.microposts
                - @debtor.collections.each do |individual_collection|
                  = render partial: 'collection', :locals => { :collection => individual_collection }
          /end
        /end  
  %aside.span4
    %section
      - if @debtor and @debtor.collections.any?
        = yield :logs_sidebar  
     