- provide(:title, "Crear Factura Nueva")
%h1 Crear Una Nueva Factura
.row
  -if @collection.errors.any?
    %p
      Problemas con:
    - @collection.errors.full_messages.each do |msg|
      %li.alert
        = msg
  /
  %h3.span6.offset3
    = "Añadir una factura a "
    - if @debtor 
      !="<br><em> &bull;"
      = @debtor.name
      = "  |  "
      = @debtor.tel
      = "  |  "
      = @debtor.contact_person
      !="<br>"
      = @debtor.employer_id_number
      !="</em>"
    / 
  %div{:class => "span6 offset3"}
    - if cookies[:current_debtor].blank?
      %select
        -list_debtors.each do |debtor|
          %option 
            = debtor
    /end        
    =form_for(@collection) do |f|
      = render 'shared/error_messages'
      =f.label :internal_invoice_number, "Número interno de factura"
      =f.text_field :internal_invoice_number
      =f.label :amount_owed, "Cantidad debida"
      =f.text_field :amount_owed    
      =f.label :bounced_check_bank, "Nombre del banco del cheque devuelto"
      =f.text_field :bounced_check_bank
      =f.label :bounced_check_number, "Número del cheque devuelto"
      =f.text_field :bounced_check_number
      =f.label :notes, "Notas"
      =f.text_field :notes
      =f.submit "Crear Factura", class: "btn btn-large btn-primary"
  /end  

