%li
  = "#{debtor.id}"
  = " "
  = link_to debtor.name, debtor 
  = " - "
  = debtor.tel
  = debtor.email
  = link_to debtor.employer_id_number, debtor 
  - if current_user.admin? #or current_user.supervisor?
    = " | "
    = link_to "delete", debtor, method: :delete, data: {confirm: "Confirme Borrar Record: ¿Seguro?"}
  /