- total = @color_code_proc.call(debtor)
%li{:class => "#{total ? 'red' : 'green' }"}
  -# Create a collect method to show total amount owed or paid.{:class => "#{debtor.collections.any? ? 'red' : 'green'}"}
  = "#{debtor.id}"
  = " "
  = link_to debtor.name, debtor 
  = " - "
  = debtor.tel
  = debtor.email
  = link_to debtor.employer_id_number, debtor 
  = " | #{total}"
  - if current_user.admin? #or current_user.supervisor?
    = " | "
    = link_to "delete", debtor, method: :delete, data: {confirm: "Confirme Borrar Record: ¿Seguro?"}
  /