- total = @color_code_proc.call(debtor)
%li{:class => "#{total ? 'red' : 'green' } round-bottom-corners debtors"}
  -# Create a collect method to show total amount owed or paid.{:class => "#{debtor.collections.any? ? 'red' : 'green'}"}
  = "#{debtor.id}"
  = " "
  %b
    = link_to "<i class='icon-folder-open'></i> #{debtor.name}".html_safe, debtor 
  = " - "
  = debtor.tel
  = debtor.email
  = link_to debtor.employer_id_number, debtor 
  = " | $#{total}"
  - if current_user.admin? #or current_user.supervisor?
    = " | "
    = link_to "<i class='icon-trash'></i> delete".html_safe, debtor, method: :delete, data: {confirm: "Confirme Borrar Record: ¿Seguro?"}
  /