- provide(:title, "Editar Usuario")
%h1 Actualiza tu información
.row
  %div{:class => 'span6 offset3'}
    = form_for(@user) do |f|
      = render partial: 'shared/error_messages', :locals => { :object => f.object }
      = f.label :email
      = f.email_field :email
      -if true #current_user == @user
        = f.label :password
        = f.password_field :password
        = f.label :password_confirmation, "Confirmar Password"
        = f.password_field :password_confirmation
      -if current_user.admin or current_user.supervisor
        = f.check_box :supervisor 
        = f.label :supervisor, :class => "checkbox inline text-warning" 
        %br
        %br 
      = f.submit "Grabar Cambios", :class => "btn btn-large btn-primary"
  /
