-#encoding: utf-8
.accordion-group
  .accordion-heading
    -unless log.nil?
      %a.accordion-toggle{:'data-toggle' => "collapse", :'data-parent' => '#accordion-log', :href => "#collapse#{log.id}"}
        = "Bitácora #{log.id} de la factura #{log.collection_id}"
        %i.icon-chevron-down
      %div{ :id => "collapse#{log.id}", :class => "accordion-body collapse"}
        .accordion-inner
          = log.content.html_safe
          .light-grey
            = "#{log.user.email} escribió en #{l log.created_at.in_time_zone("America/Puerto_Rico") }".html_safe         
/