%li{:'data-toggle' => 'popover', :'data-original-title' => "#{log.user_id} hace #{time_ago_in_words(log.created_at)} escribió: ", :'title data-content' => "#{log.content}", :'data trigger' => 'hover', :'data container' => 'sidebar'}
  = log.content
  %br
  = "#{log.user_id} escribió en #{log.created_at.to_formatted_s :long_ordinal}"