- provide(:title, "Crear Bit치cora Nueva")
%h1 
  ="A침adir a la bit치cora para factura de #{@debtor.name}"
%p 

%h3
  %span.content{:class => "#{red_green_yellow_grey_tag(@collection)} round-corners"}
    -# link_to "#{@collection.id}", @collection
    = @debtor.name
    = "  --  "
    = @collection.amount_owed
    = @collection.paid? ? "  --  Pagada  --" : ""
    = @collection.being_processed? ? "  --  En Proceso  --" : ""
    - #method below doesn't work from debtor's path
/
.content
  =form_for(@log, :url => collection_logs_path(@collection)) do |f|
    = render partial: 'shared/error_messages', :locals => { :object => f.object }
    =# render 'shared/error_messages'
    =f.label :content, "Notas"
    =f.text_area :content
    =f.submit "Crear Bit치cora", class: "btn btn-large btn-primary"
/end