-#coding: utf-8
!!! 5
%html
%head
  %meta{ :charset => 'utf-8'}
  %title 
    = "RucPoc | #{yield(:title)}"
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
  = javascript_include_tag "application", "data-turbolinks-track" => true
  -# #### Favicons and touch icons #######
  -# %link{:rel => "shortcut icon", :href => "#{asset_path 'favicon.png'}" }
  -#%link{:rel => "apple-touch-icon-precomposed", :href => "#{asset_path '57.png'}"}
  -#### Favicons and touch icons ####### (favicon_link_tag to app/assets/images)
  = favicon_link_tag 'favicon.ico'
  = favicon_link_tag '57.png', rel: 'apple-touch-icon', type: 'image/png'
  %style
    [class^="icon-"],[class*=" icon-"] {
    = "background-image: url(#{asset_path 'glyphicons-halflings.png'});};"
    -#= ".icon-white{background-image: url(#{asset_path 'glyphicons-halflings-white.png'});}"
    -# Overwride for Bootstrap-Sass for Production Glyphicons
  = csrf_meta_tags
  = render 'layouts/shim'
%body
  = render 'layouts/header' 
  .container
    - flash.each do |k, v|
      %div{:class => "alert alert-#{k}"}= v
    = yield
    = render 'layouts/footer'
    = debug(params) if Rails.env.development?
            

